name: CI

on: [push, pull_request]

jobs:

  build-and-test:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.7]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
         python-version: 3.7 
         architecture: x64
      - name: Print version
        run: python -c "import sys; print(sys.version)"

      - name: Install dependencies 
        run: python -m pip install -r requirements.txt
      
      - name: Install pyross 
        run: python setup.py install 

      - name: Test pyross
        run: cd tests && python quick_test.py


